@font-face {
  font-family: 'iconfont';  /* Project id 3434521 */
  src: url('//at.alicdn.com/t/font_3434521_n2o7fpmva9m.woff2?t=1654218633338') format('woff2'),
       url('//at.alicdn.com/t/font_3434521_n2o7fpmva9m.woff?t=1654218633338') format('woff'),
       url('//at.alicdn.com/t/font_3434521_n2o7fpmva9m.ttf?t=1654218633338') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-up:before {
  content: "\e60d";
}

.icon-icon-list:before {
  content: "\e602";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-email:before {
  content: "\e66f";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-gitee:before {
  content: "\e64f";
}