@font-face {
  font-family: "iconfont"; /* Project id 3434521 */
  src: url('iconfont.woff2?t=1653799883612') format('woff2'),
       url('iconfont.woff?t=1653799883612') format('woff'),
       url('iconfont.ttf?t=1653799883612') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-up:before {
  content: "\e60d";
}

.icon-icon-list:before {
  content: "\e602";
}

.icon-zhihu:before {
  content: "\e69a";
}

.icon-email:before {
  content: "\e66f";
}

.icon-GitHub:before {
  content: "\e8c6";
}

.icon-gitee:before {
  content: "\e64f";
}

.icon-cnblogs:before {
  content: "\e601";
}

